<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" media="screen">
    <title>Tasks</title>
  </head>
  
  <body>
    
    <%- include("./../general/nav") %>

    <main>
      <div id="main_panel">
        <form action="/user/modify" method="POST" enctype="multipart/form-data">
          Email: <input type="text" name="user_email">
          Password: <input type="password" name="user_password">
          Nombre completo: <input type="text" name="user_name">
          <div id="form_genre">
            Sexo:
            <input type="radio" name="user_genre" value="hombre"> Hombre
            <input type="radio" name="user_genre" value="mujer"> Mujer
            <input type="radio" name="user_genre" value="otro"> Otro
          </div>
          Fecha de nacimiento: <input type="date" name="user_birthday">
          Imagen de perfil: <input type="file" name="user_img">
          <input type="submit" value="Conectar" class="button_control">
        </form>
      </div>
    </main>
  </body>

</html>
