  
  @import "./header.css";
  @import "./flash.css";
  
  main {
    height: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
  }

  .panel {
    margin: 2em;
    display: flex;
    flex-direction: column;
  }

  .panel ul{
    list-style-type: none;
  }

  .sections{
    padding: 3em;
  }

  .friend{
    display: flex;
    flex-direction: row;
    padding: 1em;
    border: 3px solid black;
    border-radius: 5%;
  }


  .button_control {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    text-align: center;
    margin: 1em;
    }

    .button_control:hover {
      background: #434343;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      }

      .logo-friend {
        font-size: 1.8em !important;
      }

      .logo-friend img {
        width: 4em;
        vertical-align: middle;
        margin-right: 2em;
      }

      .button_cont{
        float: right;
      }

      .button_control{
        padding: 1em;
      }

      .friend a{
        font-size: 1.3em;
        text-decoration: none;
        color: black;
      }

      #right_panel{
        width: 50%;
        background-color: white;
        border-radius: 10%;
      }

      #left_panel{
        width: 50%;
        background-color: white;
        border-radius: 10%;
        border: solid 3px black;
      }

