  
@import "./header.css";

main {
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_panel {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 50%;
    border-radius: 2%;
    background-color: white;
}

#form_panel {

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.flash{
    padding: 5%;
    font-size: 1.3em;
    align-self: center;
    color: red;
}

#form_panel form{
    padding: 5%;
    font-size: 1.3em;
}

#form_panel form input{
    width: 90%;
    margin: 0.2em;
    border: 2px solid #ed3330;
    border-radius: 4px; 
    padding: 0.8em;
}

#column_img {
    flex-basis: 20%;
}

#column_img img {
    height: 100%;
    width: 100%;
    border-radius: 2%;
}

.button_control {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    text-align: center;
    margin-top: 2em !important;
    width: 30% !important;
  }

    .button_control:hover {
      background: #434343;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      }



