
  @import "./header.css";
  @import "./flash.css";
  main {
    height: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sections{
    margin: 1em;
    width: 50%;
  }


  #insert_questions h2{
    padding-left: 20px;
  }
  
  .button_control {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    text-align: center;
    margin: 1em;
    }

    .button_control:hover {
      background: #434343;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      }
    
      .list_questions{
        margin-bottom: 2em;
        list-style: none;
      }
    
      .list_questions li{
        padding: 0.5em;
        background-color: white;
        border: solid 3px rgb(132, 132, 255);
        margin: 0.5em 0;
        border-radius: 2em;
        font-size: 1.3em;
      }
    
      .list_questions input{
        margin-right: 1em;
      }
    
      .list_questions li a{
        text-decoration: none;
        color: black;
      }

