
@import "./header.css";
@import "./flash.css";

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_panel {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  padding: 2em;
  border-radius: 2%;
  background-color: rgb(255, 255, 255, 0.8); 
}

main form{
  display: flex;
  font-size: 1.3em;
  flex-direction: column;
}

form input{
  margin: 0.5em;
  border: 2px solid #ed3330;
  border-radius: 4px; 
  padding: 0.5em;
}

#form_genre {
  margin: 0.2em 0em;
}

.button_control {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  text-align: center;
  margin-top: 2em !important;
}

  .button_control:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

    .err-field{
      color: #ed3330;
      font-weight: 500;
  }