<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/random.css" media="screen">
    <title>Random Questions</title>
</head>

<body>

    <%- include("./../general/nav") %>
    <main>
      <div class="sections">
        <h2>Preguntas aleatorias</h2>
        <%- include("./../general/flash") %>
        <ul class="list_questions">
          <% questionsList.forEach(question => { %>
          <li><a href="/game/question/<%= question.id %>"><%= question.text %></a></li>
          <% }) %>
        </ul>
      </div>
      <div  class="sections" id="insert_questions">
        <h2>Inserta tus preguntas</h2>
        <div class="button_cont"><a class="button_control" href="new_question">Crear nueva pregunta</a></div>
      </div>
    </main>
</body>

</html>
