<nav class="navbar">
    <a href="https://freecodecamp.org" class="logo">
        <img src="/img/icon.png" alt="freeCodeCamp logo">
    </a>
    <ul class="nav-links">
        <li class="nav-item"><a href="#">Perfil</a></li>
        <li class="nav-item"><a href="#">Amigos</a></li>
        <li class="nav-item"><a href="#">Preguntas</a></li>
        <li class="nav-item"><a href="/logout">Desconectar</a></li>
        <li class="nav-item">
            <a href="https://freecodecamp.org" class="logo">
                <img src="/img/icon.png" alt="freeCodeCamp logo"> 50pts
            </a>
        </li>

    </ul>
</nav>