<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/friends.css" media="screen">
  <title>Tasks</title>
</head>

<body>
  <nav class="navbar">
    <a href="https://freecodecamp.org" class="logo">
      <img src="resources/icon.png" alt="freeCodeCamp logo">
    </a>
    <ul class="nav-links">
      <li class="nav-item"><a href="#">Perfil</a></li>
      <li class="nav-item"><a href="#">Amigos</a></li>
      <li class="nav-item"><a href="#">Preguntas</a></li>
      <li class="nav-item"><a href="#">Desconectar</a></li>
      <li class="nav-item">
        <a href="https://freecodecamp.org" class="logo">
          <img src="resources/icon.png" alt="freeCodeCamp logo"> 50pts
        </a>
      </li>

    </ul>
  </nav>
  <main>
    <div class="panel" id="left_panel">
      <div class="sections">
        <h2>Solicitudes de amistad</h2>
        <ul>
          <li class="friend_send">
            <div class="friend">
              <a href="https://freecodecamp.org" class="logo-friend">
                <img src="resources/user.png" alt="freeCodeCamp logo">
                Juan
              </a>
              <div class="button_cont"><a class="button_control" href="add-website-here" target="_blank"
                  rel="nofollow noopener">Aceptar</a></div>
              <div class="button_cont"><a class="button_control" href="add-website-here" target="_blank"
                  rel="nofollow noopener">Rechazar</a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel" id="right_panel">
      <div class="sections" id="users_search">
        <h2>Amigos</h2>
        <form action="">
          Buscar por nombre: <input type="text">
          <div class="button_cont"><a class="button_control" href="add-website-here" target="_blank"
              rel="nofollow noopener">Buscar</a></div>
        </form>
        <div class="sections" id="users_list">
            <h2>Busqueda de amigos</h2>
            <ul>
              <li>
                <div class="friend">
                  <a href="https://freecodecamp.org" class="logo-friend">
                    <img src="resources/user.png" alt="freeCodeCamp logo"> Juan
                  </a>
                </div>

              </li>
              <li>
                <div class="friend">
                  <a href="https://freecodecamp.org" class="logo-friend">
                    <img src="resources/user.png" alt="freeCodeCamp logo"> Juan
                  </a>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </main>
</body>

</html>
