<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style_user.css" media="screen">
  <title>Tasks</title>
</head>

<body>
  <nav class="navbar">
    <a href="https://freecodecamp.org" class="logo">
      <img src="resources/icon.png" alt="freeCodeCamp logo">
    </a>
    <ul class="nav-links">
      <li class="nav-item"><a href="#">Perfil</a></li>
      <li class="nav-item"><a href="#">Amigos</a></li>
      <li class="nav-item"><a href="#">Preguntas</a></li>
      <li class="nav-item"><a href="#">Desconectar</a></li>
      <li class="nav-item">
        <a href="https://freecodecamp.org" class="logo">
          <img src="resources/icon.png" alt="freeCodeCamp logo"> 50pts
        </a>
      </li>

    </ul>
  </nav>
  <main>
    <div class="card">
      <img src="resources/user.png" alt="user profile image" style="width:100%">
      <h1>John Doe</h1>
      <p class="bio">Me gusta la escalada</p>
      <p>Harvard University</p>
      <i class="fa fa-age">33 años</i>
      <i class="fa fa-genre">Hombre</i>
      <i class="fa fa-score">200pts</i>
      <p><a  class="button" href="">Modificar</a></p>
    </div>
  </main>
</body>

</html>
